In [5]:
import pandas as pd

In [9]:
df = pd.read_csv("./SVC.csv")
df

,date,player_id,gamePk,over_acc,under_acc,over_precision,under_precision,target,pred_over,pred_under,answer,proba_over,proba_under,num_shots,odds_over,odds_under
0,2021-03-20,8481535,2020020489,0.676,0.676,0.200,0.671,2.5,0,0,0,0.246,0.801,1,2.55,1.45
1,2021-05-06,8481535,2020020593,0.640,0.640,0.000,0.640,2.5,0,0,1,0.403,0.575,4,2.30,1.60
2,2021-04-18,8481535,2020020697,0.675,0.675,0.400,0.658,2.5,0,0,1,0.275,0.708,3,2.30,1.55
3,2021-04-20,8481535,2020020710,0.661,0.661,0.661,0.000,1.5,1,1,1,0.592,0.332,2,1.55,2.30
4,2021-04-22,8481535,2020020737,0.593,0.593,0.651,0.040,1.5,1,1,0,0.696,0.203,1,1.57,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,2021-04-29,8480821,2020020786,0.596,0.596,0.591,0.200,1.5,1,1,0,0.309,0.569,0,1.57,2.30
4798,2021-05-02,8480821,2020020811,0.662,0.662,0.000,0.662,2.5,0,0,1,0.424,0.500,4,2.30,1.57
4799,2021-05-02,8480821,2020020811,0.621,0.621,0.613,0.333,1.5,1,1,1,0.649,0.388,4,1.60,2.20
4800,2021-05-07,8480821,2020020845,0.653,0.653,0.000,0.653,2.5,0,0,0,0.409,0.567,1,2.50,1.55
4801,2021-05-07,8480821,2020020845,0.613,0.613,0.608,0.300,1.5,1,1,0,0.517,0.635,1,1.55,2.30

In [20]:
df["book_pred_over"] = df["odds_over"] < df["odds_under"]
df["book_pred_over_was_win"] = df["book_pred_over"] == df["answer"]
df["book_pred_under"] = df["odds_over"] <= df["odds_under"]
df["book_pred_under_was_win"] = df["book_pred_under"] == df["answer"]

In [17]:
df

,date,player_id,gamePk,over_acc,under_acc,over_precision,under_precision,target,pred_over,pred_under,answer,proba_over,proba_under,num_shots,odds_over,odds_under,book_pred_over,book_pred_over_was_win,book_pred_under,book_pred_under_was_win
0,2021-03-20,8481535,2020020489,0.676,0.676,0.200,0.671,2.5,0,0,0,0.246,0.801,1,2.55,1.45,False,True,True,False
1,2021-05-06,8481535,2020020593,0.640,0.640,0.000,0.640,2.5,0,0,1,0.403,0.575,4,2.30,1.60,False,False,True,True
2,2021-04-18,8481535,2020020697,0.675,0.675,0.400,0.658,2.5,0,0,1,0.275,0.708,3,2.30,1.55,False,False,True,True
3,2021-04-20,8481535,2020020710,0.661,0.661,0.661,0.000,1.5,1,1,1,0.592,0.332,2,1.55,2.30,True,True,False,False
4,2021-04-22,8481535,2020020737,0.593,0.593,0.651,0.040,1.5,1,1,0,0.696,0.203,1,1.57,2.30,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,2021-04-29,8480821,2020020786,0.596,0.596,0.591,0.200,1.5,1,1,0,0.309,0.569,0,1.57,2.30,True,False,False,True
4798,2021-05-02,8480821,2020020811,0.662,0.662,0.000,0.662,2.5,0,0,1,0.424,0.500,4,2.30,1.57,False,False,True,True
4799,2021-05-02,8480821,2020020811,0.621,0.621,0.613,0.333,1.5,1,1,1,0.649,0.388,4,1.60,2.20,True,True,False,False
4800,2021-05-07,8480821,2020020845,0.653,0.653,0.000,0.653,2.5,0,0,0,0.409,0.567,1,2.50,1.55,False,True,True,False
4801,2021-05-07,8480821,2020020845,0.613,0.613,0.608,0.300,1.5,1,1,0,0.517,0.635,1,1.55,2.30,True,False,False,True

In [21]:
df.book_pred_over_was_win.value_counts() / 4802

True     0.579342
False    0.420658
Name: book_pred_over_was_win, dtype: float64

In [22]:
df.book_pred_under_was_win.value_counts() / 4802

True     0.578301
False    0.421699
Name: book_pred_under_was_win, dtype: float64